extends layout 

block content 
    h1= title
    p= category.description

    a(href=category.url+'/update') Update Category
    a(href=category.url+'/delete') Delete Category

    h2 Items

    if item_list.length 
        ul 
            each item in item_list  
                li 
                    a(href=item.url) #{item.name}
    else 
        p There are no items in this category.
    
    form(method='GET' action='/catalog/item/create')
        //- item create form needs the associated category info
        input(type='hidden' name='categoryid' required value=category._id)
        button(type='submit') Add Item

    