extends layout 

block content 
    h1= title
    p= category.description

    a(href=category.url+'/update') Update Category
    a(href=category.url+'/delete') Delete Category

    h2 Items

    if item_list.length 
        ul 
            each item in item_list  
                li 
                    a(href=item.url) #{item.name}
    else 
        p There are no items in this category.
    
    //- item create form needs the associated category info
    a(href='/catalog/item/create?categoryid='+category._id) Add Item

    